.HomeScreenContainer {
  width: 60vw;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  margin: auto;
  flex-wrap: wrap;
}
.HomeCardsContainer {
  display: flex;
  flex-direction: row;
  padding: 10px;
  flex-wrap: wrap;
  justify-content: center;
  /* border: 1px solid rgba(79, 149, 230, 0.144); */
  margin: 5px 20px;
  /* background-color: rgba(243, 243, 243, 0.13); */
  border-radius: 8px;
}

.HomeCardButton {
  border: 0;
  padding: 0;
  background-color: rgba(243, 243, 243, 0);
  cursor: pointer;
}
.HomeCardButton1 {
  border: 1px solid rgba(79, 149, 230, 0.144);
  margin: 5px 10px;
  background-color: rgba(243, 243, 243, 0.13);
  border-radius: 8px;
  padding: 0;
}

.HomeCardContinerWithButtons{
  border: 1px solid rgba(79, 149, 230, 0.144);
  margin: 5px 20px;
  background-color: rgba(243, 243, 243, 0.13);
  border-radius: 8px;
}
.UpdateDeleteButtonWrapper{
  padding: 5px;
}

.HomeCardContinerWithButtons:hover {
  transition: 0.2s ease-in-out;
  translate: 0 -5px;
  background-color: #a2b9ee5d;
}
.LoadMoreTriggerCatogory{
  margin-top: 90vh;
}

.selected-tags-containercategoryscreen{
  display: flex;
  flex-direction: column;
}
.tags-select-categoryscreen{
  margin: 20px 0;
  width: 300px;
  height: 40px;
  border-radius: 10px;
  border: 0;
  outline: 0;
  padding: 5px;
}



@media screen and (max-width: 1000px) {
  .HomeScreenContainer {
    width: 98vw;
    /* width: 100%; */
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 0;
  }
  .HomeCardsContainer {
    display: flex;
    flex-direction: row;
    padding: 10px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  .HomeCardButton {
    padding: 0;
    margin: 20px 5px;
  }
  /* .HomeCardButton1 {
    border: 1px solid rgba(79, 149, 230, 0.144);
    margin: 5px 10px;
    background-color: rgba(243, 243, 243, 0.13);
    border-radius: 8px;
    padding: 0;
  } */
}
.LoadMoreTrigger{
  margin-top: 100px;
}